/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-17, 18:37:59
    Author     : artur
*/

body {
    background-image: url("../image/clouds.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Kavivanar', sans-serif;
    background-position: center;
}

h1 {
    margin-top: 30px;
    font-size: 3em;
    color: white;
}

.claim {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 20px;
}

.left {
    background-color: rgba(255, 255, 255, 0.7);
    width: 420px;
    height: auto;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    vertical-align: top;
}

.left p:nth-child(1), .left p:nth-child(3) {
    color: #457294;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.right p:nth-child(1) {
    color: #457294;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.left p:nth-child(2), .left p:nth-child(4), .left p:nth-child(5) {
    color: #457294;
    text-align: center;
    font-size: 14px;
}

.podpis {
    color: #457294;
    text-align: right;
    font-family: 'Kavivanar', cursive;
    font-size: 22px;
    font-style: italic;
    margin-right: 16px;
}

.right {
    background-color: rgba(255, 255, 255, 0.7);
    width: 420px;
    height: auto;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    vertical-align: top;
    margin-bottom: 50px;
    color: #457294;
    text-align: center;
    font-size: 14px;
}

input {
    height: 68.5px;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: none;
    position: relative;
    font-size: 0.8em;
    color: #457294;
    font-family: 'Kavivanar', cursive;
}

focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */

button {
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #368198;
    color: #fff;
    padding: 0 60px;
    margin: 30px;
    font-family: 'Kavivanar', cursive;
}

button:hover {
    background-color: #c05161;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

q {
    font-weight: bold;
}

.mail-row {
    column-width: 30px;
    font-size: 0.3em;
}

@media only screen and (max-width: 768px) {

    .left, .right {
        width: 280px;

    }

    p {
        text-align: center !important;
    }

    input {
        height: 50px;
    }

    button {
        height: 50px;
    }

}

table {
    table-layout: fixed;
    width: 100%;
}

.lp-col {
    width: 5%;
}

.email-row {
    font-size: 9px;
}

.per20 {
    width: 20%;
}